html, body {
  margin: 0;
  padding: 0;
  background-color:white; 
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#header {
  background-color: rgb(120, 19, 81);
  color: rgb(255, 230, 255);
  padding: 20px;
  font-size: 28px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#cities {
  display: flex;
  padding: 20px;
  gap: 20px; 
  justify-content: center;
}

.city {
  padding: 20px;
  background-color: white; 
  border-radius: 12px; 
}


.city h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: 'Brush Script MT', cursive; 
}

.city p {
  font-size: 16px;
font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  line-height: 1.5;
}

.cambio-colores h2 {
  color: purple;
}

.cambio-colores p {
  color: orange;
}

#footer {
  background-color: rgba(255, 80, 217, 0.7);
  color: white;
  padding: 25px;
  font-size: 18px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wrapButtons {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.wrapButtons button {
  margin: 5px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(120, 19, 81);
  color: white;
  font-size: 16px;
   background-color: rgb(203, 60, 193);
}


.miImagen {
  max-width: 200px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
}
